.pros-details {
    width: 50%;
    font-size: 0.7em !important;
    line-height: 1.5em !important;
}

.cons-details {
    width: 30%;
    border: none !important;
    box-shadow: none !important;
}

.form img {
    background: #ffffff !important;
    width: auto;
    height: 400px;
}

.interceptor img {
    background: #ffffff !important;
}